<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{ text-align: center;
            
            }
        button{
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 20px;
        }
        body{background-color: rgb(122, 67, 67);}
    </style>
</head>
<body>
    <h1> You are not authorised to view this page</h1>
    
    <h1><a href="{% url 'home' %}"><button>Back to Home Page</button></a></h1>
</body>
</html>